html, body {
  max-height: 100vh;
  height: 100vh;
  min-width: 320px;
}

:root {
  font-family: Proxima Nova, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  color: #262c40;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #262c40;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #262c40;
  border-radius: 100vh;
  border: 2px solid #8189a3;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8189a3;
}
